# REMARK: in common-requirements.txt the dependency of h11 is commented out
# because it is not compatible with the version of qdrant-client
-r common-requirements.txt
qdrant-client==0.9.0
scipy==1.9.0