# REMARK: in common-requirements.txt the dependency of h11 is commented out
# because it is not compatible with the version of qdrant-client
-r common-requirements.txt
qdrant-client==1.5.4
scipy==1.11.2
pytest==8.1.1